.no-people-container {
  padding: 0 40px;
}

.list-chronology {
  padding-top: 16px;
}

person-detail {
  padding: 0 16px;
}

list-event {
  padding: 0 16px;
  width: 100%;
}

.dropdown-menu {
  padding: 16px 16px 0;
  text-transform: capitalize;
}

.pleading-toolbar {
  background: #ffffff;
  height: auto;
  font-size: 14px;
}

issue-item {
  padding: 0 16px;
}

.menu-text {
  margin-right: 50px;
}

.pdf-viewer {
  position: relative;
}
