@import '~@angular/material/theming';

.list-chronology-page {
  padding-top: 16px;
  width: 900px
}

.list-chronology {
  height: 100%;
  padding: 0 16px 0 16px;
}

.menu-text {
  margin-right: 50px;
}
