<h1 mat-dialog-title>Remove sentences from {{ issue.name }}</h1>
<div mat-dialog-content perfectScrollbar>
  <div *ngFor="let pleading of issue.pleadings">

    <ng-container *ngIf="pleading.sentences.length > 0">
      <h3 mat-dialog-title>{{ pleading.title }}</h3>
      <div class="mat-elevation-z2">
        <ng-container *ngFor="let sentence of pleading.sentences">
          <div fxLayout="row" fxLayoutAlign="start center" class="sentence-container">
            <p fxFlex class="mat-body-1 sentence">{{ sentence.text }}</p>
            <button type="button" mat-icon-button (click)="onRemoveSentence(sentence, pleading, null)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
          <mat-divider></mat-divider>
        </ng-container>
      </div>
    </ng-container>
    <div class="response-container" fxLayout="column" fxLayoutGap="16px">
      <div *ngFor="let response of pleading.responses">
        <ng-container *ngIf="response.sentences.length > 0">
          <h3 mat-dialog-title>{{ response.title }}</h3>
          <div class="mat-elevation-z2">
            <ng-container *ngFor="let sentence of response.sentences">
              <div fxLayout="row" fxLayoutAlign="start center" class="sentence-container">
                <p fxFlex class="mat-body-1 sentence">{{ sentence.text }}</p>
                <button type="button" mat-icon-button (click)="onRemoveSentence(sentence, pleading, response)">
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
              <mat-divider></mat-divider>
            </ng-container>
          </div>
        </ng-container>
      </div>
    </div>
  </div>

  <div class="mat-body-1" *ngIf="issue.pleadings.length <=0 ">
    There are no sentences associated with this issue
  </div>
</div>

<div mat-dialog-actions fxLayout="row" fxLayoutAlign="end center">
  <button type="button" mat-button mat-dialog-close>Cancel</button>
  <button type="button" mat-raised-button color="primary" (click)="onSubmit()">Update</button>
</div>
